@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #ffffff;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Montserrat", sans-serif, Arial, Arial, Helvetica;

}



#app-ideation{
    margin-bottom: 1000px;
}

.rest-content{
  height: 100%;
}

.center {
    z-index: 100;
}

.free-zone{
  height: 80%;
}

.horizontal-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    margin: 0;
    list-style: none;
}

.horizontal-menu ul li {
    position: relative;
    justify-content: space-around;
    width: fit-content;
    text-align: center;
}

.horizontal-menu ul li a {
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
}

li a {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.horizontal-menu ul li a:hover{

    text-decoration: none;
    
}

.top {
    width: 100%;
    height: 100px;
    font-family: poppins;
    color: rgb(130, 113, 113);
    display: flex;
    align-items: last baseline;
    justify-content: center;
    background: #ffffff;
    position: sticky;
    top: 0;
    z-index: 1000;
    border-radius: 1px ;
    
}

.carousel {
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    position: relative;
    font-size: small;
    background-color: rgb(248, 249, 251);
}

.left {
    flex-basis: 50%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-sizing: border-box;
    z-index: 10;
    
}

.btn {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    background-color: rgb(230, 240, 255);
    border-radius: 50px;
    border: none;
    font-weight: 500;
    padding: 4px 18px;
    font-size: 0.875rem;
    line-height: 1.4;
    white-space: nowrap;
    color: rgb(0, 78, 186);
    transition: 0.2s;
}

.left-item {
    width: 90%;
    height: 100vh;
    box-sizing: border-box;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 2.375rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    color: #1a093f;
    line-height: 100px;
    letter-spacing: 2px;
    line-height: 50px;
}

.text {
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    color: #535353;
    font-weight: 300;
}

.right {
    position: sticky;
    top: 0;
    right: 0;
    height: 100vh;
    flex-basis: 50%;
}

.item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.25s;
    transform: scale(0.3);
}



.item.active {
    transform: scale(1);
    opacity: 1;
}

.item img {
    width: 350px;
    height: auto;
    border-radius: 10px;
    box-shadow: 10px 20px 50px rgb(0, 0, 0)
}

[data-tilt] {
    will-change: transform;
}


#category-links li a.active {
    color: orange; /* Example color change when active */

    padding: 10px;

}

#category-links li a {
    color: #1a093f; /* Default color, adjust as needed */
    transition: color 0.3s ease, background-color 0.3s ease, padding 0.3s ease;
    padding: 10px;
}

#category-links li a.active {
    color: #941454; /* Color when active */
    background-color: rgba(255, 166, 0, 0.405); /* Light orange background */
    padding: 10px;
}




.horizontal-menu ul li img {
    width: 32px;
    height: 32px;
    object-fit: contain;
}










/*------------ mouser Cursor animation----------------------- */

  .circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
  }